/* Put these styles in: src/styles.css */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Bahnschrift', serif;
}

input,
textarea,
button,
select {
    font-family: inherit;
}

:root {
    --primary-color: rgba(6, 77, 126, 0.44);
    --secondary-color: #3687a9;
    --accent-color: rgba(6, 77, 126, 0.1);
    --shadow-color: #E8E8E8;

    --primary-continue: rgba(6, 126, 62, 0.44);
    --secondary-continue: #36a947;
    --accent-continue: rgba(36, 126, 6, 0.1);

    --primary-cancel: rgba(126, 6, 6, 0.44);
    --secondary-cancel: #a93636;
    --accent-cancel: rgba(126, 6, 6, 0.1);
}

button.primary {
    padding: 10px;
    margin-right: 5px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        font-weight: bold;
        background: var(--secondary-color);
        transform: scale(1.05);
    }

    &:active {
        border: solid 1px var(--accent-color);
        color: var(--primary-color);
    }
}

button.save {
    padding: 10px;
    margin-right: 5px;
    border: solid 1px var(--primary-continue);
    background: var(--primary-continue);
    color: white;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        font-weight: bold;
        background: var(--secondary-continue);
        transform: scale(1.05);
    }

    &:active {
        border: solid 1px var(--accent-continue);
        color: var(--primary-continue);
    }
}

button.cancel {
    padding: 10px;
    margin-right: 5px;
    border: solid 1px var(--primary-cancel);
    background: var(--primary-cancel);
    color: white;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
        font-weight: bold;
        background: var(--secondary-cancel);
        transform: scale(1.05);
    }

    &:active {
        border: solid 1px var(--accent-cancel);
        color: var(--primary-cancel);
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
